<% include ../layout/header.html %>
<div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
      	<tr>
      		<td colspan="4">
      			<nav>
			      <ul class="pagination">
			        <li id="pageLeft" class="disabled"><a href="#">«</a></li>

			        <li><a href="#">»</a></li>
			     </ul>
			   </nav>
      		</td>
      	</tr>
      </tfoot>
    </table>
  </div>
<% include ../layout/footer.html %> 
<script type="text/javascript" src="/javascripts/customer.js"></script>