<% include ../layout/header.html %>
<div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
      <!--  <% { %>
       		<tr>
	           <td>1</td>
	           <td>Mark</td>
	           <td>Otto</td>
	           <td>@mdo</td>
	        </tr>
       <% } %> -->
      </tbody>
      <tfoot>
      	<tr>
      		<td colspan="4">
      			<nav>
			      <ul class="pagination">
			        <li class="disabled"><a href="#">«</a></li>
			        <li class="active"><a href="#">1</a></li>
			        <li><a href="#">2</a></li>
			        <li><a href="#">3</a></li>
			        <li><a href="#">4</a></li>
			        <li><a href="#">5</a></li>
			        <li><a href="#">»</a></li>
			     </ul>
			   </nav>
      		</td>
      	</tr>
      </tfoot>
    </table>
  </div>
<% include ../layout/footer.html %> 
<script type="text/javascript" src="/javascripts/customer.js"></script>