<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
	<Meta http-equiv="Page-exit" Content="revealTrans(duration=10, transition=16)" /> 
	<link rel="stylesheet"  href="/assets/bootstrap-3.2.0/css/bootstrap.css"/>
	<link rel="stylesheet"  href="/styles/common.css" />
	<link rel="stylesheet"  href="/styles/style.css" />
</head>
<body>
  	<% if(success) { %>
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= success %>
		</div>
	<% } %>
	<% if(error) { %>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= error %>
		</div>
	<% } %>
	<article class="login">
		<form class="login-form" method="post">
			<a href="###" class="formLogo"><img src="images/logo.png"></a>
			<div class="form-group">
				<input type="text" id="loginName" name="name" class="form-control" placeholder="登录名/电话/邮箱">
			</div>
			<div class="form-group">
				<input type="password" id="loginPassWord" name="passWord"  class="form-control" placeholder="密码">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success col-xs-12">登录</button>
			</div>
			<div class="form-group">
				<a class="forgetpwd" href="#">● 忘记密码？</a>
			</div>
		</form>
		<p class="copyright">© jinges.com</p>
	</article>
	<script type="text/javascript" src="/assets/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap-3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/common.js"></script>
</body>
</html>