
<!-- Sidebar    -->
<div id="sidebar">
    <div id="sidebar-wrapper">
        <ul id="main-nav">
            <li>
                <a class="nav-top-item" href="#"><span class="glyphicon glyphicon-signal"></span>数据统计</a>
                <ul>
                    <li><a href="dingyue.html"></a></li>
                    <li><a href="fuwu.html"></a></li>
                </ul>
            </li>
            <li>
                <a class="nav-top-item" href="#"><span class="glyphicon glyphicon-user"></span>会员管理</a>
                <ul>
                    <li><a href="customer">会员列表</a></li>
                    <li><a href="fuwu.html"></a></li>
                </ul>
            </li>
            <li> <a href="#" class="nav-top-item">
                <span class="glyphicon glyphicon-shopping-cart"></span>微信商城 </a>
                <ul>
                    <li><a href="maketcategory.html">商品分类</a></li>
                    <li><a href="maketcategoryedit.html">新增分类</a></li>
                    <li><a href="maket.html">商品列表</a></li>
                    <li><a href="maketedit.html">新增商品</a></li>
                    <li><a href="order.html">订单管理</a></li>
                </ul>
            </li>
            <li> <a href="#" class="nav-top-item">
                <span class="glyphicon glyphicon-phone"></span>微信官网 </a>
                <ul>
                    <li><a href="weixin.html">官网首页</a></li>
                    <li><a href="model.html">模块选择</a></li>
                    <li><a href="module.html">网页模版</a></li>
                </ul>
            </li>
            <li> 
                <a href="#" class="nav-top-item"><span class="glyphicon glyphicon-bullhorn"></span>营销活动 </a>
                <ul>
                    <li class="nitem">
                        <a href="#" class="nav-item">优惠卷</a>
                        <ul>
                            <li><a href="youhuijuan.html">优惠卷</a></li>
                            <li><a href="youhuijuanbefore.html">新增优惠卷</a></li>
                            <li><a href="youhuijuanafter.html">活动结束内容</a></li>
                            <li><a href="youhuijuanset.html">活动设置</a></li>
                        </ul>
                    </li>
                    <li class="nitem">
                        <a class="nav-item" href="#">会员卡</a>
                        <ul>
                            <li><a href="vip.html">会员列表</a></li>
                            <li><a href="vipcard.html">会员卡</a></li>
                            <li><a href="vipcardset.html">会员卡设置</a></li>
                        </ul>
                    </li>
                    <li class="nitem">
                        <a class="nav-item" href="#">店铺查询</a>
                        <ul>
                            <li><a href="shop.html">店铺查询</a></li>
                            <li><a href="shopedit.html">新建店铺</a></li>
                        </ul>
                    </li>
                    <li class="nitem">
                        <a class="nav-item" href="module.html">刮刮卡</a>
                        <ul>
                            <li><a href="guaguaka.html">刮刮卡</a></li>
                            <li><a href="guaguakabefore.html">新增刮刮卡</a></li>
                            <li><a href="guaguakaafter.html">活动结束内容</a></li>
                            <li><a href="guaguakaset.html">活动设置</a></li>
                        </ul>
                    </li>
                    <li class="nitem">
                        <a class="nav-item" href="#">大转盘</a>
                        <ul>
                            <li><a href="dazhuanpan.html">大转盘</a></li>
                            <li><a href="dazhuanpanbefore.html">新增大转盘</a></li>
                            <li><a href="dazhuanpanafter.html">活动结束内容</a></li>
                            <li><a href="dazhuanpanset.htl">活动设置</a></li>
                        </ul>
                    </li>
                    <li class="nitem">
                        <a class="nav-item" href="#">抽奖信息</a>
                        <ul>
                            <li><a href="#">抽奖信息</a></li>
                            <li><a href="#">新增抽奖活动</a></li>
                            <li><a href="#">活动结束内容</a></li>
                            <li><a href="#">活动设置</a></li>
                        </ul>
                    </li>
                    <li><a href="tuiguang.html">朋友相互推广</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-top-item" href="#"><span class="glyphicon glyphicon-th-list"></span>微信菜单</a>
                <ul>
                    <li><a href="dingyue.html">订阅号菜单</a></li>
                    <li><a href="fuwu.html">服务号菜单</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-top-item" href="#"><span class="glyphicon glyphicon-picture"></span>素材管理</a>
                <ul>
                    <li><a href="dingyue.html"></a></li>
                    <li><a href="fuwu.html"></a></li>
                </ul>
            </li>
        </ul>
        <!-- End #main-nav -->
    </div>
</div>
<!--  End of Sidebar  -->